@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        border-radius: 10px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        color: hsl(202, 11%, 29%);
        margin-inline-start: auto;
        margin-inline-end: auto;
        margin-block-start: 2em;
        max-inline-size: 22rem;
        overflow: hidden;
        width: calc(50vw-0.50rem);
    
        .screen {
            background: hsl(207, 19%, 61%);
            font-size: 4.2rem;
            padding-block-start: 3rem;
            padding-block-end: 0.5rem;
            padding-inline-end: 1.25rem;
            text-align: end;
        }
        .btnBox {
            background: hsl(207, 19%, 61%);
            display: grid;
            grid-gap: .5rem;
            grid-template-columns: repeat(4, 1fr);
            padding: .5rem;
            
            .button {
                align-items: center;
                background: hsl(206, 14%, 41%);
                block-size: 70px;
                border-radius: 40px;
                border: none;
                color: hsl(255, 100%, 100%);
                cursor: pointer;
                display: flex;
                font-size: 1.5rem;
                inline-size: 70px;
                justify-content: center;
                margin: 0.25rem;

                &:hover,
                &:focus {
                   border: 2px dotted #fff; 
                }
                &.equals {
                    background: #4bd086;
                    grid-column: 3/5;
                    inline-size: auto;
                }
                &.opt {
                    background: rgba(247,149,5, 0.8);
                    
                    &:hover {
                        background: #f79505;
                    }
                    &:focus {
                        background: #f79505;
                        border: 2px dotted #fff;
                    }   
                }
            }
        }
    }
    

    
}
